body
{
    height: 100vh;
    margin: 0;
}

.container {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 1000px;
    background-position: center;
    background-size: cover;
    background-image: url('https://images.alphacoders.com/127/1276993.jpg');
    background-attachment: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Adjust text color for better visibility */
}

.contentBg
{
    background-color: rgb(41, 2, 107);
    background-image: url("\Users\anshu\Downloads\Blue Cute Creative Process Infographic (4).png");
}

.rocket1 {
    width: 100%;
    object-fit: cover; /* Ensures the image covers the entire container without stretching */
    object-position: center; /* Centers the image within the container */
    transform: translateX(-20);
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.purple-background {
    background-color: rgb(41, 2, 107);
}


h1 {
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-size: 40px;
    text-align: center;
    transform: translateY(20px);
}

p {
    color: white;
    font-family: Arial, sans-serif; /* Replace "idk" with a valid font family */
    transform: translateY(360px);
}

button {
    position: fixed;
    top: 20px;
    border: none;
    border-radius: 20px;
    background-color: blue;
    color: white;
    padding: 10px 20px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

button:hover {
    transform: scale(1.3);
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s; 
}
